<!-- start article-card.liquid (SNIPPET) -->
<link rel="stylesheet" data-href="{{ 'component-card.css' | asset_url }}">

{%- assign article_image = article.image | default: settings.recently_viewed_product_without_image -%}
{%- assign id = 'Image' | append: variant.id -%}

<div class="grid__item">
  <div class="grid__item-image-wrapper">
    <a
      href="{{ article.url | default: '#' }}"
      title="{{- article.title | strip_html | escape -}}"
      class="grid__item-link"
    >
      {%-
        render 'responsive-image' with
        id: id,
        image: article_image,
        width: 300,
        class: 'grid__item-image',
        lazyload: enable_lazy
      -%}
    </a>
  </div>

  <h3 class="grid__item-title">
    <a
      href="{{ article.url | default: '#' }}"
      title="{{- article.title | strip_html | escape -}}"
      class="grid__item-title-link"
    >
      {{- article.title -}}
    </a>
  </h3>
</div>
