<!-- start custom-collection-banner.liquid (SNIPPET) -->
{%- assign show_banner = section.settings.img_banner -%}
{%- assign enabled_remove_feature_image = settings.enabled_collection_featured_image_filter -%}
{%- assign handles_list = settings.collection_featured_image_filter -%}
{%- assign collections_title = handles_list | split: ';' -%}
{%- assign handle_array = '' -%}

{%- for title in collections_title -%}
  {%- assign handled_title = title | handleize -%}
  {%- assign handle_array = handle_array | join: ';' -%}
  {%- assign handle_array = handle_array | append: ';' | append: handled_title -%}
  {%- assign handle_array = handle_array | split: ';' -%}
{%- endfor -%}

{%- if settings.enabled_collection_featured_image
  and handle_array contains collection.handle
  and handles_list != blank
  and enabled_remove_feature_image
-%}
  {%- assign show_banner = false -%}
{%- endif -%}

{%- if settings.enabled_collection_featured_image == true and show_banner != blank -%}
  <div class="collection-banner-wrapper">

    {% if collection.image != blank %}
      <div class="collection-banner">
        {%- assign image_desktop_width = 2500 -%}
        {%- assign image_desktop_height = image_desktop_width | times: 1 -%}

        {%- if section.settings.collection_banner_image_checkbox -%}
          {%- assign temp_height = section.settings.collection_banner_image | divided_by: 100.0 -%}
          {%- assign image_desktop_height = image_desktop_width | times: temp_height | round: 0 -%}
        {%- endif -%}

        {{
          collection.image
          | image_url: width: image_desktop_width, height: image_desktop_height
          | image_tag:
            width: image_desktop_width,
            height: image_desktop_height,
            class: 'collection-banner__image',
            sizes: '(max-width: 479px) 479px, (max-width: 767px) 767px, (max-width: 1019px) 1019px, (max-width: 1279px) 1279px, (min-width: 1280px) 1280px'
        }}
      </div>
    {% endif %}

    <div class="collection-banner__header-group">
      <h2 class="collection-banner__title">{{ collection.title }}</h2>

      {%- if collection.metafields.field.banner_text != blank -%}
        <div class="collection-banner__description">{{ collection.metafields.field.banner_text | metafield_tag }}</div>
      {%- endif -%}
    </div>
  </div>

{%- endif -%}

<style>
  @media (min-width: 1281px) {
    .collection-banner-wrapper {
      max-height: 450px;
      overflow: hidden;
    }
    body #shopify-section-{{ section.id }} .collection-description__text.see-more.see-more:not(.collection-description__text--opened){
      padding: 0;
    }
    .collection-page__title, .collection-description {
      max-width: 1220px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }
  h2.title{
    color: {{ section.settings.title_collection_color }};
    font-size: {{ section.settings.font_size_title }}px;
  }
  .subtitle {
    color: {{ section.settings.subtitle_collection_color }};
  }
  .collection-banner {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 29%;
    width: 100%;
  }

  .collection-banner__image {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }

  .collection-page__title-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }

  body .collection-page__title {
    color: #FFF;
    text-align: center;
  }

  @media (max-width: 1019px) {
    .collection-banner {
      padding-top: 37.386%;
    }
    .collection-page__title {
      color: #FFF;
    }
  }

  @media (max-width: 767px) {
    .collection-banner-wrapper {
      flex-wrap: wrap;
    }
    .collection-banner {
      padding-top: 44.8%;
    }
  }
</style>
