<!-- start header-searchbar-new-layout.liquid (SNIPPET) -->
<div class="header__search-form-wrapper">
  <form id="search-form" action="/search" method="get" class="header__search-form">
    <input
      class="header__search-input search-text"
      name="q"
      aria-label="search-text"
      type="text"
      id="Search-{{ search_id }}"
      value="{{ search.terms | escape }}"
      placeholder="{{ section.settings.header_searchbar_placeholder }}"
      required
    >
    <button id="SearchButton-{{ search_id }}" type="submit" class="header__search-button button">
      {{ 'general.search.submit' | t }}
      <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Search Icon">
          <path id="Vector" d="M6.61978 11.5061C9.54269 11.5061 11.9122 9.20046 11.9122 6.35631C11.9122 3.51217 9.54269 1.20654 6.61978 1.20654C3.69688 1.20654 1.32739 3.51217 1.32739 6.35631C1.32739 9.20046 3.69688 11.5061 6.61978 11.5061Z" stroke="black" stroke-width="1.3231" stroke-linecap="round" stroke-linejoin="round"/>
          <path id="Vector_2" d="M13.2352 12.7934L10.3574 9.99316" stroke="black" stroke-width="1.3231" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
      </svg>
    </button>

    <div
      class="search-results-wrapper{% if settings.enable_page_post_suggestion %} w-80 {% endif %}"
      style="display: none;"
    >
      <div class="close-suggestions"><span class="search__terms"></span> {% render 'icon-close' %}</div>
      <div class="suggestion-half-to-half-flex">
        <div class="search-results {% if settings.enable_page_post_suggestion == false %} w-100 {% endif %}"></div>
        {% if settings.enable_page_post_suggestion %}
          <div class="search-content-container">
            <div class="search-results-pages-wrapper">
              <p class="search-section-title">Pages & Posts</p>
              <div class="search-results-pages"></div>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="search-link-wrapper"></div>
    </div>
  </form>
</div>

{%- render 'header-search-suggestions-new-layout' -%}
