<!-- start reset_password.liquid (TEMPLATE) -->

{%- capture css -%}
<style>
  .customer-form {
    width: 100%;
    margin: 60px auto;
    float: left;
  }

  .customer-form__title-wrapper {
    text-align: center;
    margin-bottom: 32px;
  }

  .customer-form__title {
    padding: 25px 0 12px;
  }

  .customer-form__sub-title {
    color: #555555;
  }

  .customer-form__content {
    max-width: 100%;
    width: 440px;
    height: 100%;
    margin: 0 auto;
    padding: 32px 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -3px #00000080;
  }

  .customer-form__fieldset {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 24px;
  }

  .customer-form__fieldset-label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .customer-form__fieldset .customer-form__input {
    width: 100%;
    padding: 10px 14px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px #1018280D;
  }

  .customer-form__fieldset .customer-form__input::placeholder {
    color: #bcbcbc;
  }

  .customer-form__wrapper .customer-form__button {
    width: 100%;
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: 1px solid #1B4E9B;
    background: #1B4E9B;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
    font-weight: 500;
  }

  .customer-form__wrapper .customer-form__button:hover,
  .customer-form__wrapper .customer-form__button:active {
    background: #0b2751;
  }
</style>
{%- endcapture -%}

{{- css | strip_newlines | replace: '    ', ' ' | replace: '   ', ' ' | replace: '  ', ' ' -}}

<div class="customer-form">
  <div class="customer-reset-password-form__wrapper wrapper">
    
    {% render 'account-logo' %}

    <div class="customer-form__wrapper">
      {%- form 'reset_customer_password', id: "reset_customer_password" -%}
        <div class="customer-form__title-wrapper">
          <h1 class="customer-form__title">{{ 'customer.reset_password.title' | t }}</h1>
          <p class="customer-form__sub-title" id="id-password">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
        </div>

        <div class="customer-form__content">
          {% if form.posted_successfully? %}
            <span class="customer-form__password-successfuly-reset--hide customer-form__password-successfuly-reset"></span>
          {% endif %}
          {{ form.errors | default_errors }}

          <div class="customer-form__fieldset">
            <div class="customer-form__fieldset-password">
              <label class="customer-form__fieldset-label" for="customer[password]">Password</label>
              <input type="password" value="" name="customer[password]" id="ResetPassword" class="customer-form__input" placeholder="{{ 'customer.reset_password.password' | t }}">
            </div>

            <div class="customer-form__fieldset-password-confirmation">
              <label class="customer-form__fieldset-label" for="customer[password_confirmation]">Confirm Password</label>
              <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="customer-form__input" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
            </div>
          </div>
          
          <input type="submit" name="submit" id="id-btn--full" class="customer-form__button" value="{{ 'customer.reset_password.submit' | t }}">
        </div>
      {%- endform -%}
    </div>
  </div>
</div>

<script type="lazyload_int">
  setTimeout(function(){
    (function($){
      $('#reset_customer_password').submit(function(e){
        $('#id-password').addClass('hide')

        jQuery.ajax({
          url: $(this).attr('action'),
          method: $(this).attr('method'),
          data: $(this).serialize(),
          cache : false,
          processData: false,

          success: function(r,s){
            if (!r.includes('The password confirmation')) {
              $('<span class="customer-form__password-successfuly-reset">Your password has been reset!</span>').insertAfter('#id-password');
              setTimeout(function(){
                  window.location.href = '/account';
              }, 5000);
            } else {
              var parser = new DOMParser();
              var doc = parser.parseFromString(r, 'text/html');
              const error = doc.querySelector('div.errors li');

              if (error) {
                $('#id-password').html($(error).closest('.errors')).removeClass('hide');
              }
            }
          },
          error: function(e) {
            console.error('[RESET PASSWORD ERROR]', e);
          }
        });

        e.preventDefault();

        return false;
      });
    })(jQuery);
  });
</script>