<!-- start password.liquid (LAYOUT) -->
<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!-- [if (gt IE 9)|!(IE)]><! -->
<html class="no-js" lang="{{ shop.locale }}">
  <!-- <![endif] -->
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_accent }}">
    <link rel="canonical" data-href="{{ canonical_url }}">
    <link rel="preconnect" data-href="{{ 'layout.password.styleLiquid.css' | asset_url }}" as="style">

    {%- if settings.favicon != blank -%}
      <link
        id="id-shortcut"
        rel="shortcut icon"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
        type="image/png"
      >
    {%- else -%}
      <link
        rel="shortcut icon"
        href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
        type="image/png"
      >
    {%- endif -%}

    <title>{{ shop.name }}</title>
    <!-- Styles -->
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    {%- render 'social-meta-tags' -%}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'layout.password.styleLiquid.css' | asset_url }}">
  </head>

  <body class="template-password">
    <main id="MainContent">
      {{ content_for_layout }}
    </main>
  </body>
</html>

<script data-src="{{ 'password.js' | asset_url }}"></script>

<script data-type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": "https: {{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.social_twitter_link }}",
      "{{ settings.social_facebook_link }}",
      "{{ settings.social_pinterest_link }}",
      "{{ settings.social_instagram_link }}",
      "{{ settings.social_tumblr_link }}",
      "{{ settings.social_snapchat_link }}",
      "{{ settings.social_youtube_link }}",
      "{{ settings.social_vimeo_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>
