  {% assign cross_sell_collection = section.settings.cross_sell_select_collection %}
  {%- assign enable_lazy = true -%}
  {%- assign temp_product = cross_sell_collection.products -%}
  {%- assign show_price = section.settings.show_price -%}
  {%- assign image_width = 560 -%}
  {%- assign width_mobile = 200 -%}
  {%- assign width_desk = 560 -%}
  {%- assign width_small = 300 -%}

  {%- assign qtd_desktop = section.settings.products_per_rows_desktop-%}
    
  <div class="cross-sell__wrapper {% if template contains "product" %} cross-sell__product__wrapper {% endif %}">
      {% if section.settings.enable_cross_sell_title %}
        {% if section.settings.cross_sell_title != blank %}
          <h2 class="cross-sell__title">{{ section.settings.cross_sell_title }}</h2>
        {% else %}
          <h2 class="cross-sell__title">{{ cross_sell_collection.title }}</h2> 
        {% endif %}
      {% endif %}
      {% if section.settings.cross_sell_select_collection != blank %}
        <div class="cross-sell__product-grid">
          {% assign = i = 0 %}

          {%- assign cart_items_ids = '' -%}

          {%- for item in cart.items -%}
            {%- assign cart_items_ids = cart_items_ids | append: ',' | append: item.product_id -%}
          {%- endfor -%}

            {% for temp_product in cross_sell_collection.products %}
              {%- unless cart_items_ids contains temp_product.id or temp_product.available == false -%}
                <div class="cross-sell__product-card">
                    {%- render 'product-card',
                        prod: temp_product,
                        width_mobile: width_mobile,
                        width_desk: width_desk,
                        max_width: image_width,
                        show_price: show_price 
                    -%}
                    <form action="/cart/add" id="cross-sell_form" class="cross-sell__product-form" >
                        {%- assign variants_size = temp_product.variants | size -%}
                        {%- if variants_size == 1 -%}
                            <input type="hidden" name="id" value="{{ temp_product.selected_or_first_available_variant.id }}"/>
                        {%- else -%}
                            <select name="id" class="cross-sell__product-select">
                                <option value="" data-image="{{ temp_product.selected_or_first_available_variant.image | img_url: '200x' }}" disabled>Choose Variant:</option>
                        
                                {% for variant in temp_product.variants %}
                                    <option value="{{ variant.id }}" data-image="{{ variant.image | img_url: '200x' }}"{% if cart_items contains variant.id %} disabled="disabled"{% endif %}>{{ variant.title }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                            
                        <input type="hidden" name="quantity" value="1"/>
                        <button type="submit" class="cross-sell__product-button cart-icon btn btn-add-tocart">
                            <span class="cross-sell__product-button-text">Add To Cart</span>
                        </button>
                    </form>
                </div>
                {%- assign i = i | plus: 1 -%}
                {%- if i == 4 -%}
                  {%- break -%}
                {%- endif -%}
              {%- endunless -%}
            {% endfor %}
        </div>
      {% endif %}
  </div>

  <script type="lazyload_int">
    setTimeout(function() {
      const methods = {
        cart: {
          /**
              * Get all cart items.
              */
          getCart() {
            return fetch('/cart.js', {
              cache: 'default'
            }).then(function(res) {
              return res.json();
            });
          },
          /**
              * Add some item into cart.
              *
              * @param {Object} data JSON object with data for to insert in cart.
              */
          addItem(data) {
            return fetch('/cart/add.js', {
              method: 'POST',
              body: data
            }).then(function(res) {
              return res.json();
            });
          }
        }
      }
      $('.cross-sell__product-form').submit(function (e) {
          e.preventDefault();
          const form = this;
          const data = new FormData(this);
      
          methods.cart.addItem(data).then(async function(item) {
            try {
              const cart = await methods.cart.getCart();
              const btn = form.querySelector('button');
              btn.disabled = 'disabled';
              location.reload();
            } catch (e) {
              console.error('[CART ERROR]', e);
            }
          }).catch(function(e) {
            console.error('[ADD ITEM ERROR]', e);
          });
        });
      
      });
  </script>
  <style scoped>
    :root {
        --cross-sell-title-color:{{ section.settings.title-color }};
        --cross-sell-title-font-size:{{ section.settings.title-font-size }}px;
        --cross-sell-border-color:{{ section.settings.border-color }};
        --cross-sell-product-title-color:{{ section.settings.product-title-color }};
        --cross-sell-price-color:{{ section.settings.price-color }};
        --cross-sell-compare-price-color:{{ section.settings.compare-price }};
        --cross-sell-swatch-color:{{ section.settings.swatch-color }};
    }
    .cross-sell__wrapper .grid__item-price-wrapper,
    .cross-sell__wrapper .grid__item-title{
        text-align: center;
        text-align: center;
        padding-bottom: 5px;
    }
    .cross-sell__wrapper .grid__item-title{
        color: var(--cross-sell-product-title-color);
    }
    .cross-sell__wrapper .grid__item-price-wrapper .grid__item-price .money{
        color: var(--cross-sell-price-color);
        font-weight: 700;
    }
    .cross-sell__wrapper .grid__item-price-wrapper .grid__item-compare-at-price .money{
        color: var(--cross-sell-compare-price-color);
        margin: 0px 10px 0 0;
        font-weight: 700;
    }
    .cross-sell__wrapper .grid__item-image-wrapper {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    } 
    .cross-sell__wrapper .grid__item-image-wrapper img:nth-of-type(1),
    .cross-sell__wrapper .grid__item-image-wrapper:hover img:nth-of-type(2) {
        display: none;
    }
    .cross-sell__wrapper .grid__item-image-wrapper:hover img:nth-of-type(1) {
        display: block;
    }
    .cross-sell__wrapper .grid__item-image-wrapper .grid_item--visible:nth-of-type(1) {
        display: block;
    }
    .cross-sell__title{
        color: var(--cross-sell-title-color);
        font-size: var(--cross-sell-title-font-size);
        text-align: center;
        margin-bottom: 20px;
    }
    .cross-sell__product-grid{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        max-width: 1040px;
        border: 1px solid;
        border-color: var(--cross-sell-border-color);
        margin: 0 auto;
        margin-bottom:20px;
    }
    .cross-sell__product__wrapper .cross-sell__product-grid {
        width: 90%;
    }
    .cross-sell__product-card{
        border-right: 1px solid;
        border-right-color: var(--cross-sell-border-color);
    }
    .cross-sell__product-card:nth-child(-n + 2) {
        border-bottom: 0px;
    }
    .cross-sell__product-card:last-child{
        border-right: 0px;
    }
    .cross-sell__product-card{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0.8rem;
        justify-content: space-between;
    }
    .cross-sell__product-select,
    .cross-sell__product-select option{
        width: 100%;
        height: 30px;
        text-align: center;
        color: var(--cross-sell-swatch-color);
        border-color: var(--cross-sell-swatch-color);
        border: 1px solid;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .cross-sell__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .cross-sell__product-title,
    .cross-sell__product-price{
        padding-top:1rem;
        text-align: left;
    }
    .cross-sell__product-button-text{
        font-size: 1rem;
        display: flex;
        text-align: center;
        width: 100%;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }
    @media(max-width: 1279px){ 
        .cross-sell__product-card{
            padding:0.5rem;
        }
        .cross-sell__product-select, 
        .cross-sell__product-select option,
        .cross-sell__product-button-text{
            font-size: 0.8rem;
        }
    }
    @media(max-width: 1019px){ 
        .cross-sell__wrapper{
            padding-bottom: 1rem;
        }
    }
    @media (max-width: 767px) {
        .cross-sell__product-grid {
        flex-wrap: wrap;
        }
        .cross-sell__product-card {
        border-right: none;
        }
        .cross-sell__product-grid{
            flex-wrap: wrap;
        }
        .cross-sell__product-grid{
            border: 1px solid;
            border-color: var(--cross-sell-border-color);
        }
        .cross-sell__product-card:nth-child( 2n ) {
            border-left: 1px solid;
            border-left-color: var(--cross-sell-border-color);
        }
        
        .cross-sell__product-card:nth-child(-n + 2){
            border-bottom: 1px solid;
            border-bottom-color: var(--cross-sell-border-color);
        }
        .cross-sell__product-card{
            border-right:0;
        }
    }
  </style>
{% schema %}
{
  "name": "Cross Sell",
  "class": "cross-sell",
  "settings": [
    {
      "type": "header",
      "content": "GENERAL"
    },
    {
      "type": "checkbox",
      "id": "enable_cross_sell_title",
      "label": "Enable Title"
    },
    {
      "type": "text",
      "id": "cross_sell_title",
      "label": "Title"
    },
    {
      "type": "range",
      "id": "title-font-size",
      "min": 10,
      "max": 30,
      "step": 1,
      "label": "Title Font Size",
      "default": 16
    },
    {
      "type": "collection",
      "id": "cross_sell_select_collection",
      "label": "Collection"
    },
    {
        "type": "checkbox",
        "id":"show_price",
        "label":"Show Price"
    },
    {
      "type": "header",
      "content": "COLOR"
    },
    {
      "type": "color",
      "id":"title-color",
      "label":"Section Title Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id":"border-color",
      "label":"Border Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id":"product-title-color",
      "label":"Product Title Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id":"swatch-color",
      "label":"Swatch Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id":"price-color",
      "label":"Price Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id":"compare-price",
      "label":"Compare Price Color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Cross Sell",
      "category": "Cross Sell"
    }
  ]
}
{% endschema %}
