<!-- start password.liquid(SECTION) -->

{%- capture password_section_content -%}
<div class="password__wrapper">
    <div class="password__logo">
        {% if section.settings.enable_svg_logo == true %}
            {% if section.settings.logo_svg_html != blank %}
                {{ section.settings.logo_svg_html }}  
            {% endif %}
        {% elsif section.settings.shop_logo != blank %}
            <img class="password__logo--size" data-class="LazyLoad" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ section.settings.shop_logo | image_url: width: 250 }}" alt="Password Image Logo">
        {% elsif section.settings.shop_logo == blank %}
            {% render 'icon-shopify-logo' %}
        {% endif %}
    </div>
    <div class="password__title">
      <h1 class="password__store-name">
      {{ shop.name | capitalize }}
      </h1>
      {% if section.settings.enable_password_description %}
        <p class="password__description">{{ 'general.password_page.store_protected' | t }}</p>
      {% endif %}
    </div>
    
    {%- unless shop.password_message == blank -%}
      <p class="password__password-message">
        {{ shop.password_message }}
      </p>
    {%- endunless -%}

    {%- form 'customer', class: 'password__form js-password__form--email js-password__form--show' -%}
    {%- assign formId = 'PasswordNewsletterForm' -%}
      {{ form.errors | default_errors }}
      {%- if form.posted_successfully? -%}
        <p class="password__form--success">{{ 'general.password_page.signup_form_success' | t }}</p>
      {%- else -%}
      {% if section.settings.enable_password_description %}
        <h4 class="password__form-title">{{ 'general.password_page.signup_form_heading' | t }}</h4>
      {% endif %}
        <input id="id-contact" type="hidden" name="contact[tags]" value="prospect, password page">
          <label class="password__label" for="{{ formId }}-email" class="password__form-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="password__content">
          <input type="email"
            class="password__input"
            name="contact[email]"
            id="{{ formId }}-email"
            spellcheck="false"
            autocomplete="off"
            autocapitalize="off"
            placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
          <button type="submit" name="commit" class="password__btn-submit">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      {%- endif -%}
      <div class="password__login-wrapper">
        <a id="password__link" class="password__link password__link--color password__link--decoration js-password__link">
          {{ 'general.password_page.password_link' | t }} &rarr;
        </a>
      </div>
    {%- endform -%}
    {% form 'storefront_password', class: 'password__form-password js-password__form--password js-password__form--hide', id: "password__form-modal" %}
    {%- assign formId = 'PasswordLoginForm' -%}
    <div class="password__content">
      {% if section.settings.enable_password_description %}
      <h4 class="password__form-title">{{ 'general.password_page.signup_form_heading' | t }}</h4>
      {% endif %}
      <div class="password__titles-password">
        <label id="password__label" for="Password" class="password__form-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
        <div class="password__close js-password__close">
          {% render 'icon-close' %}
        </div>
      </div>
      <input type="password" name="password"
        id="Password"
        class="password__input {% if form.errors %}password__input--error{% endif %}"
        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
        data-login-field
        autocomplete="off"
        aria-labelledby="PasswordLabel {% if form.errors %} {{ formId }}-password-error{% endif %}"
        {% if form.errors %}
          data-error="password"
          aria-invalid="true"
        {%- endif -%}
      >
      {%- if form.errors -%}
        <div id="{{ formId }}-password-error" class="password__error-message">
          {% render 'icon-error' %}
          <p class="password__form-label">{{ form.errors.messages['form'] }}</p>
        </div>
      {%- endif -%}
        <button type="submit" name="commit" class="password__btn-submit password__btn--margin">
          {{ 'general.password_page.login_form_submit' | t }}
        </button>
    </div>
    {% endform %}
    <p class="password__login-here">{{ 'general.password_page.admin_link_html' | t }}<a class="password__link--color password__link--margin" href="\admin">Log in here</a></p>
  </div>

{%- endcapture -%}
{{- password_section_content -}}

{% schema %}
{
  "name": "Password",
  "class": "template-password",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "image_picker",
      "id": "shop_logo",
      "label": "Logo image",
      "info": "400x160"
    },
    {
      "type": "checkbox",
      "id": "enable_svg_logo",
      "label": "Enable SVG Logo",
      "default": false
    },
    {
      "type": "html",
      "id": "logo_svg_html",
      "label": "Custom SVG Logo"
    },
    {
      "type": "checkbox",
      "id": "enable_password_description",
      "label": "Enable Sub Headline Text",
      "default": false
    }
  ]
}
{% endschema %}