<!-- start shipping_bar.liquid (SECTION) -->
{%- assign shipping_bar_style = section.settings.shipping_bar_style -%}
{%- assign shipping_bar_type = blank -%}

{%- case shipping_bar_style -%}
  {%- when 'sections_style' -%}
    {%- assign shipping_bar_type = 'shipping-bar--sections-style' -%}
  {%- when 'info_style' -%}
    {%- assign shipping_bar_type = 'shipping-bar--info-style' -%}
  {%- else -%}
    {%- assign shipping_bar_type = 'shipping-bar--discount-style' -%}
{%- endcase -%}
{% if template contains 'cart' and section.settings.enable_discount_in_cart %}
  {%- assign shipping_bar_type = 'shipping-bar--discount-style' -%}
  {%- assign shipping_bar_style = 'dicount_style' -%}
{%- endif -%}

<div id="shipping-bar" class="shipping-bar {{ shipping_bar_type }} lazybg" data-style="{{- shipping_bar_style -}}">
  <div class="shipping-bar__wrapper wrapper">
    {%- for block in section.blocks -%}
      {% if template contains 'cart' and section.settings.enable_discount_in_cart %}
        {%- render 'shipping-bar-discount' with block: block -%}
        {% break %}
      {% else %}
        {%- if shipping_bar_style == 'sections_style' and block.type == 'sections-style' -%}
          {%- render 'shipping-bar-sections' with block: block -%}
          {%- break -%}
        {%- elsif shipping_bar_style == 'info_style' and block.type == 'info-style' -%}
          {%- render 'shipping-bar-informational' with message: block.settings.shipping_bar_info_text -%}
          {%- break -%}
        {%- elsif shipping_bar_style == 'dicount_style' and block.type == 'discount-style' -%}
          {%- render 'shipping-bar-discount' with block: block -%}
          {%- break -%}
        {%- endif -%}
      {% endif %}
    {%- endfor -%}
  </div>
</div>

<style scoped>
  :root {
    {%- if section.settings.position -%}
      --shipping-bar-height: 50px;
    {%- else -%}
      --shipping-bar-height: 20px;
    {%- endif -%}
  }

  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
    {%- if section.settings.position -%}
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
    {%- endif -%}
  }

  #shopify-section-{{ section.id }} .shipping-bar__section-item,
  #shopify-section-{{ section.id }} .shipping-bar__item--small {
    font-size: {{ section.settings.font_size_desktop }}px;
  }

  #shopify-section-{{ section.id }} .shipping-bar__message {
    font-size: {{ section.settings.font_size_shipping_text_desktop }}px;
  }

  #shopify-section-{{ section.id }} .shipping-bar__item svg {
    width: {{ section.settings.font_size_desktop }}px;
    display: inline-block;
  }

  #shopify-section-{{ section.id }} .shipping-bar__item svg path {
    stroke: {{ section.settings.text_color }};
  }

  #shopify-section-{{ section.id }} .shipping-bar__section-item svg {
    max-width: 25px;
    max-height: 25px;
    margin-right: 10px;
  }

  .shipping-bar__wrapper {
    height: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0 23px;
  }

  .shipping-bar .shipping-bar__message,
  .shipping-bar__section-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: {{ section.settings.message_text_transform }};
  }

  .shipping-bar .shipping-bar__message {
    flex-wrap: wrap;
    letter-spacing: 0.6px;
  }

  .shipping-bar .shipping-bar__message > span {
    letter-spacing: 0.5px;
  }

  .shipping-bar .shipping-bar__message--before {
    margin-left: 45px;
  }

  .shipping-bar__section-item {
    flex: 1;
    height: calc(100% - 10px);
    width: 33%;
  }

  .shipping-bar__item {
    flex: 1;
    line-height: 1.15;
  }

  .shipping-bar__item:nth-of-type(1) .shipping-bar__item--wrapper {
    justify-content: flex-start;
  }

  .shipping-bar__item:nth-of-type(2) {
    text-align: center;
  }

  .shipping-bar__item:nth-of-type(3) .shipping-bar__item--wrapper,
  .shipping-bar__item:nth-of-type(3) .shipping-bar__link {
    justify-content: flex-end;
  }

  .shipping-bar__item--small {
    max-width: 280px;
  }

  .shipping-bar__item span {
    
    margin-left: 5px;
  }

  .shipping-bar__item:nth-of-type(1) span {
    {% if section.settings.disable_email_text_desktop %}
      display: none;
    {% else %}
      display: block;
    {% endif %}
    line-height: 1.2;
  }

  .shipping-bar__item:nth-of-type(3) span {
    {% if section.settings.disable_phone_text_desktop %}
      display: none;
    {% else %}
      display: block;
    {% endif %}
  }

  .shipping-bar__link {
    color: inherit;
    font: inherit;
  }

  .shipping-bar__link,
  .shipping-bar__item--wrapper {
    display: flex;
    align-items: center;
  }

  .shipping-bar__section-item + .shipping-bar__section-item {
    border-left: 1px solid var(--shipping-bar-items-line-color, #fff);
  }

  .shipping-bar__section-image  {
    width: 100%;
    max-width: 25px;
    margin-right: 10px;
  }

  .shipping-bar--discount-style .shipping-bar__discount-value {
    background: var(--shipping-bar-price-background, rgb(28, 168, 28));
    display: inline-block;
    color: var(--shipping-bar-price-text-color, rgb(255, 255, 255));
    margin: 0 4px;
  }

  @media (max-width: 1019px) {
    #shopify-section-{{ section.id }} .shipping-bar__section-item,
    #shopify-section-{{ section.id }} .shipping-bar__item--small {
      font-size: {{ section.settings.font_size_tablet }}px;
    }
  
    #shopify-section-{{ section.id }} .shipping-bar__message {
      font-size: {{ section.settings.font_size_shipping_text_tablet }}px;
    }
    
    #shopify-section-{{ section.id }} .shipping-bar__message--free-shipping {
      font-size: 15px;
    }

    #shopify-section-{{ section.id }} .shipping-bar__item svg {
      width: {{ section.settings.font_size_tablet }}px;
    }

    .shipping-bar__wrapper {
      height: 35px;
      padding: 0 20px 0 24px;
    }

    .shipping-bar__item--small {
      max-width: 190px;
    }

    .shipping-bar .shipping-bar__item span:not(.shipping-bar__discount-value) {
      margin-left: 0;
    }

    .shipping-bar__item:nth-of-type(1) span {
      {% if section.settings.disable_email_text_tablet %}
        display: none;
      {% else %}
        display: block;
      {% endif %}
    }

    .shipping-bar__item:nth-of-type(3) span {
      {% if section.settings.disable_phone_text_tablet %}
        display: none;
      {% else %}
        display: block;
      {% endif %}
    }
  }

  @media (max-width: 767px) {
    #shopify-section-{{ section.id }} .shipping-bar__section-item,
    #shopify-section-{{ section.id }} .shipping-bar__item--small {
      font-size: {{ section.settings.font_size_mobile }}px;
    }
  
    #shopify-section-{{ section.id }} .shipping-bar__message {
      font-size: {{ section.settings.font_size_shipping_text_mobile }}px;
    }
    
    #shopify-section-{{ section.id }} .shipping-bar__message--free-shipping {
      font-size: 13px;
    }

    #shopify-section-{{ section.id }} .shipping-bar__item svg {
      width: {{ section.settings.font_size_mobile }}px;
    }

    .shipping-bar__wrapper {
      height: 34px;
      padding: 0 19px;
    }

    .shipping-bar__item--small {
      max-width: 25px;
    }

    .shipping-bar .shipping-bar__message {
      letter-spacing: 0.5px;
    }

    .shipping-bar .shipping-bar__message > span {
      letter-spacing: 0;
    }

    .shipping-bar .shipping-bar__message span.shipping-bar__message--before {
      margin-left: 5px;
    }
  }

  @media (max-width: 479px) {
    .shipping-bar__item {
      font-size: .85rem;
    }

    .shipping-bar__section-item {
      font-size: 10px;
    }
  }
</style>

{%- for block in section.blocks -%}
  {% if block.type == 'discount-style' -%}
    <script type="lazyload_int">
      const shipping = new class {
        constructor() {
          if ('{{ block.settings.shipping_bar_type_freeshipping }}' == 'shipping_bar_free_price') {
            this.discountValue = {{ block.settings.shipping_bar_value_discount | times: 100 }};
          } else {
            this.discountValue = {{ block.settings.shipping_bar_free_qtd_range }};
          }
          this.textBeforeValue = '{{ block.settings.shipping_bar_free_shipping_before }}';
          this.textAfterValue = '{{ block.settings.shipping_bar_free_shipping_after }}';
          this.discountText = '{{ block.settings.shipping_bar_freeshipping_text | escape }}';
        }

        set cart( cart ) {
          var remainValue = 0, message = '';

          if ('{{ block.settings.shipping_bar_type_freeshipping }}' == 'shipping_bar_free_price') {
            remainValue = (this.discountValue - cart.total_price);
          } else {
            remainValue = (this.discountValue - cart.item_count);
          }

          if (cart.item_count > 0) {
            if (remainValue > 0) {
              if ('{{ block.settings.shipping_bar_type_freeshipping }}' == 'shipping_bar_free_price') {
                remainValue = Shopify.formatMoney(remainValue);
                const cents = parseInt(remainValue.split('.')[1]);
                if(cents === 0 ) { remainValue = remainValue.split('.')[0]; }
              }

              message = 'Add';
              message += '<span class="shipping-bar__discount-value">';
              message += remainValue;
              message += '</span>';
              message += 'more to get FREE SHIPPING';
            } else {
              message += this.discountText;
              $('.shipping__message--discount').addClass('shipping-bar__message--free-shipping');
            }
          } else {
            if ('{{ block.settings.shipping_bar_type_freeshipping }}' == 'shipping_bar_free_price') {
              remainValue = Shopify.formatMoney(remainValue).split('.')[0];
            }
            message += '<span class="shipping-bar__message--before">'+this.textBeforeValue+'</span>';
            message += '<span class="shipping-bar__discount-value">'+remainValue+'</span>';
            message += '<span class="shipping-bar__message--after">'+this.textAfterValue+'</span>';
          }

          $('.shipping__message--discount').html(message);
        }
      }
    </script>
  {%- endif -%}
{% endfor %}

{% schema %}
{
  "name": "Shipping Bar (Sitewide)",
  "class": "shipping-bar",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "paragraph",
      "content": "Email"
    },
    {
      "type": "checkbox",
      "id": "enable_link_shippingbar_text_email",
      "label": "Enable Email Link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "disable_email_text_desktop",
      "label": "Disable Email Text on Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_email_text_tablet",
      "label": "Disable Email Text on Tablet",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_email_icon_mobile",
      "label": "Enable Email Icon on Mobile",
      "default": true
    },
    {
      "type": "paragraph",
      "content": "Phone"
    },
    {
      "type": "checkbox",
      "id": "enable_link_shippingbar_text_phone",
      "label": "Enable Phone Link",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "disable_phone_text_desktop",
      "label": "Disable Phone Text on Desktop",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "disable_phone_text_tablet",
      "label": "Disable Phone Text on Tablet",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_phone_icon_mobile",
      "label": "Enable Phone Icon on Mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#383838"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#FFFFFF"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "message_text_transform",
      "label": "Message Text transform",
      "default": "uppercase",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        }
      ]
    },
    {
      "type": "select",
      "id": "shipping_bar_style",
      "label": "Sitewide Shipping Bar Style",
      "options": [
        {
          "label": "Sections With Icons",
          "value": "sections_style"
        },
        {
          "label": "Discount Threshold",
          "value": "dicount_style"
        },
        {
          "label": "Informational",
          "value": "info_style"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "position",
      "label": "Enable Sticky Shipping Bar",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_discount_in_cart",
      "label": "Keep Shipping Bar Discount Threshold Only On Cart Page",
      "default": false
    },
    {
      "type": "header",
      "content": "FONT SIZE"
    },
    {
      "type": "range",
      "id": "font_size_desktop",
      "label": "Font Size on Desktop",
      "unit": "px",
      "min": 10,
      "max": 32,
      "step": 1,
      "default": 16
    },
    {
      "type": "range",
      "id": "font_size_shipping_text_desktop",
      "label": "Shipping Text Font Size on Desktop",
      "unit": "px",
      "min": 10,
      "max": 32,
      "step": 1,
      "default": 17
    },
    {
      "type": "range",
      "id": "font_size_tablet",
      "label": "Font Size on Tablet",
      "unit": "px",
      "min": 10,
      "max": 32,
      "step": 1,
      "default": 14
    },
    {
      "type": "range",
      "id": "font_size_shipping_text_tablet",
      "label": "Shipping Text Font Size on tablet",
      "unit": "px",
      "min": 10,
      "max": 32,
      "step": 1,
      "default": 16
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "Font Size on Mobile",
      "unit": "px",
      "min": 10,
      "max": 32,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "font_size_shipping_text_mobile",
      "label": "Shipping Text Font Size on Mobile",
      "unit": "px",
      "min": 10,
      "max": 32,
      "step": 1,
      "default": 16
    }
  ],
  "blocks": [
    {
      "type": "sections-style",
      "name": "Section With Icons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Color"
        },
        {
          "type": "color",
          "id": "line_color",
          "label": "Divisor Line Color",
          "default": "#FFFFFF"
        },
        {
          "type": "header",
          "content": "Left Section Icon"
        },
        {
          "type": "checkbox",
          "id": "enable_svg_icon_left",
          "label": "Enable SVG icon",
          "default": false
        },
        {
          "type": "html",
          "id": "shipping-bar_icon-left-section-svg",
          "label": "Icon SVG - Left Section"
        },
        {
          "type": "image_picker",
          "id": "shipping-bar_icon-left-section",
          "label": "Icon Image - Left Section",
          "info": "80x80"
        },
        {
          "type": "text",
          "id": "shipping-bar_text-left-section",
          "label": "Text - Left Section"
        },
        {
          "type": "header",
          "content": "Middle Section Icon"
        },
        {
          "type": "checkbox",
          "id": "enable_svg_icon_middle",
          "label": "Enable SVG icon",
          "default": false
        },
        {
          "type": "html",
          "id": "shipping-bar_icon-middle-section-svg",
          "label": "Icon SVG - Middle Section"
        },
        {
          "type": "image_picker",
          "id": "shipping-bar_icon-middle-section",
          "label": "Icon Image - Middle Section",
          "info": "80x80"
        },
        {
          "type": "text",
          "id": "shipping-bar_text-middle-section",
          "label": "Text - Middle Section"
        },
        {
          "type": "header",
          "content": "Right Section Icon"
        },
        {
          "type": "checkbox",
          "id": "enable_svg_icon_right",
          "label": "Enable SVG icon",
          "default": false
        },
        {
          "type": "html",
          "id": "shipping-bar_icon-right-section-svg",
          "label": "Icon SVG - Right Section"
        },
        {
          "type": "image_picker",
          "id": "shipping-bar_icon-right-section",
          "label": "Icon Image - Right Section",
          "info": "80x80"
        },
        {
          "type": "text",
          "id": "shipping-bar_text-right-section",
          "label": "Text - Right Section"
        }
      ]
    },
    {
      "type": "discount-style",
      "name": "Discount Threshold",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Discount Threshold",
          "info": "Make sure to include the email and phone number to 'Customize>Theme settings > Store Info."
        },
        {
          "type": "select",
          "id": "shipping_bar_type_freeshipping",
          "label": "Threshold Default Style",
          "options": [
            {
              "label": "By Price",
              "value": "shipping_bar_free_price"
            },
            {
              "label": "By Quantity",
              "value": "shipping_bar_free_qtd"
            }
          ]
        },
        {
          "type": "color",
          "id": "free_shipping_background_color",
          "label": "Discount Price Background Color",
          "default": "#E32C2B"
        },
        {
          "type": "color",
          "id": "free_shipping_text_color",
          "label": "Discount Price Text Color",
          "default": "#FFFFFF"
        },
        {
          "type": "text",
          "id": "shipping_bar_free_shipping_before",
          "label": "Text Before Price/Quantity",
          "default": "We Pay Shipping On Orders Over"
        },
        {
          "type": "text",
          "id": "shipping_bar_free_shipping_after",
          "label": "Text After Price/Quantity",
          "default": "Text Example"
        },
        {
          "type": "text",
          "id": "shipping_bar_freeshipping_text",
          "label": "Free Shipping Message After Threshold is Met",
          "default": "Congratulations! We'll Pay Your Shipping"
        },
        {
          "type": "header",
          "content": "Settings Of Free Shipping by Price"
        },
        {
          "type": "range",
          "id": "shipping_bar_value_discount",
          "min": 0,
          "max": 500,
          "step": 5,
          "unit": "$",
          "label": "Free Shipping Value",
          "default": 50
        },
        {
          "type": "header",
          "content": "Settings of Free Shipping by Quantity"
        },
        {
          "type": "range",
          "id": "shipping_bar_free_qtd_range",
          "min": 1,
          "max": 100,
          "step": 1,
          "label": "Product Qtd of Free Shipping Bar",
          "default": 10
        }
      ]
    },
    {
      "type": "info-style",
      "name": "Informational",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Informational",
          "info": "Make sure to include the email and phone number to 'Customize>Theme settings > Store Info."
        },
        {
          "type": "text",
          "id": "shipping_bar_info_text",
          "label": "Center Bar Text"
        }
      ]
    }
  ]
}
{% endschema %}
